<ion-header>
  <ion-navbar color="gold">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-card *ngFor="let val of about">
  <img src="{{val.src}}">
  <ion-card-content>
    <ion-card-title>
      <h1 ion-text color="gold" style="white-space: normal;">{{val.title}}</h1>
    </ion-card-title>
    <p [innerHTML]=val.content></p>
  </ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col col-2 *ngFor="let soc of social"><p (click)="handleClick($event)" class="social" [innerHTML]=soc.social></p></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

</ion-content>
