page-login {
	.bg-image{
        background-image: url('../assets/imgs/bg-page.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .item.item-trns {
		border-color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		color: white; 
	}
}
