<ion-header>
<ion-toolbar color="gold">
  <!--<button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
  </button>-->
  <ion-title>
    Blockchain Nation
  </ion-title>
  <!--<ion-buttons end>
    <button ion-button>
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-buttons>-->
</ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let val of home">
  <ion-item>
    <h2 ion-text color="blue">{{val.title}}</h2>
  </ion-item>
  <video *ngIf="val.type == 'video'" width="100%" [hidden]="false" [autoplay]="true" muted="true" playsinline="playsinline" looped preload="auto" poster="{{val.poster}}" webkit-playsinline="webkit-playsinline" >
    <source src="{{val.src}}" type="video/mp4">
  </video>
  <img *ngIf="val.type == 'image'" src="{{val.src}}">
  <ion-card-content>
    <ion-card-title>
      <h1 ion-text color="gold" style="white-space: normal;">{{val.sub_title}}</h1>
    </ion-card-title>
    <p [innerHTML]=val.content></p>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="showspeakers">
  <ion-card-header>
    <h2 ion-text color="blue">Our Speakers</h2>
  </ion-card-header>

  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let speaker of speakers" class="horizontal">
      <button ion-item (click)="openSpeaker(speaker)">
        <ion-card-content>
          <img src="https://static.bcnation.com/pictures/{{speaker.photo}}">
          <p ion-text color="gold">{{ speaker.first_name | uppercase }}<br> {{ speaker.last_name | uppercase }}</p>
        </ion-card-content>
      </button>
    </ion-card>
  </ion-scroll>

    <ion-row>
    <ion-col>
      <button ion-button icon-start clear small [navPush]="pushSpeakers">
        <ion-icon name="people"></ion-icon>
        <div>Show all speakers</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

<ion-card *ngIf="showsponsors">
  <ion-card-header>
    <h2 ion-text color="blue">Our Sponsors</h2>
  </ion-card-header>

  <ion-grid *ngIf="showsponsors">
    <ion-row align-items-center>
      <ion-col *ngFor="let sponsor of sponsors" col-3>
        <ion-card>
          <img src="https://static.bcnation.com/pictures/{{sponsor.photo}}">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-row>
    <ion-col>
      <button ion-button icon-start clear small [navPush]="pushSponsors">
        <ion-icon name="briefcase"></ion-icon>
        <div>Show all sponsors</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

<ion-card *ngIf="showsponsors">
  <ion-card-header>
    <h2 ion-text color="blue">Media Partners</h2>
  </ion-card-header>

  <ion-grid *ngIf="showsponsors">
    <ion-row align-items-center>
      <ion-col *ngFor="let sponsor of media" col-3>
        <ion-card>
          <img src="https://static.bcnation.com/pictures/{{sponsor.photo}}">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-row>
    <ion-col>
      <button ion-button icon-start clear small [navPush]="pushSponsors">
        <ion-icon name="desktop"></ion-icon>
        <div>Show all media partners</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

<ion-card *ngIf="showagenda">

  <ion-card-header>
    <h2 ion-text color="blue">Agenda</h2>
  </ion-card-header>

  <div padding>
    <ion-segment [(ngModel)]="s_agenda">
      <ion-segment-button *ngFor="let day of agenda_days" value="{{day.date}}">
        Day {{day.day}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="s_agenda" *ngFor="let day of agenda; let a = index">
      
      <ion-list *ngSwitchCase=day.date class="accordion-list">
        <ion-list-header *ngFor="let room of day.rooms; let i = index" no-lines>
          <button ion-item (click)="toggleSection(a, i)" detail-none [ngClass]="{'section-active': room.open, 'section': !room.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!room.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="room.open"></ion-icon>
              {{room.room}}
          </button>
          
            <ion-list *ngIf="room.sesions && room.open" no-lines>
              <ion-list-header *ngFor="let sesion of room.sesions; let j = index">
                <button ion-item (click)="toggleItem(a, i, j)" *ngIf="sesion.speakers" class="child" detail-none>
                  <ion-icon item-left name="add" *ngIf="!sesion.open && sesion.has_speaker"></ion-icon>
                  <ion-icon item-left name="close" *ngIf="sesion.open && sesion.has_speaker"></ion-icon>
                  <ion-item>
                    <ion-icon *ngIf="sesion.has_speaker" name="mic" item-start color="gold"></ion-icon>
                    <ion-icon *ngIf="!sesion.has_speaker" name="time" item-start color="gold"></ion-icon>
                    {{sesion.from}} - {{sesion.to}} <b>{{sesion.title}}</b>
                  </ion-item>
                </button>
              <ion-item>
                  <ion-list *ngIf="sesion.speakers && sesion.open">
                    <ion-item *ngFor="let speaker of sesion.speakers; let k = index" detail-none class="child-item">
                      <button ion-item (click)="openSpeaker(speaker)">
                        <ion-avatar item-start>
                          <img src="https://static.bcnation.com/pictures/{{speaker.photo}}">
                        </ion-avatar>
                        {{ speaker.first_name | uppercase }} {{ speaker.last_name | uppercase }}
                      </button>
                    </ion-item>
                  </ion-list>
              </ion-item>
            </ion-list-header>
          </ion-list>
        </ion-list-header>
      </ion-list>
  </div>

</ion-card>

</ion-content>
