page-home {

}

.scroll-zoom-wrapper {
    white-space: nowrap;
}

.horizontal{
    width: 150px;
    display: inline-block;	
}

ion-scroll {
    min-height: 240px; 
    height: auto;

	.scroll-content {
		padding: 0px !important;
	}   
}