<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gold">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item-group>
	<ion-item *ngIf="!email">
		<button ion-item (click)="scanCode()">
			<ion-icon name="custom-qr-code" item-start color="gold"></ion-icon>
			Scan your ticket
		</button>
	</ion-item>
	<ion-item *ngIf="email">
		<ion-avatar item-start>
			<ion-icon name="contact" item-start color="gold" style="font-size: 50px;"></ion-icon>
		</ion-avatar>
		<h2>{{data.first_name}} {{data.last_name}}</h2>
		<p>{{data.email}}</p>
	</ion-item>
  	<ion-item *ngIf="email">
		<button ion-item (click)="viewTicket()">
			<ion-icon name="custom-ticket" item-start color="gold"></ion-icon>
			View ticket
		</button>
	</ion-item>
	<ion-item *ngIf="email">
		<button ion-item (click)="logOut()">
			<ion-icon name="log-out" item-start color="gold"></ion-icon>
			Log out
		</button>
	</ion-item>
    <ion-item-divider color="light"></ion-item-divider>
	<ion-item>
		<button ion-item (click)="openAbout()">
			<ion-icon name="information-circle" item-start color="gold"></ion-icon>
			About
		</button>
	</ion-item>
  </ion-item-group>

</ion-content>
