<ion-header>
  <ion-navbar color="gold">
    <ion-title>Sponsors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
  	<ion-list-header>
  		Sponsors
  	</ion-list-header>
    <ion-item *ngFor="let sponsor of sponsors">
      <ion-thumbnail item-start>
        <img src="https://static.bcnation.com/pictures/{{sponsor.photo}}">
      </ion-thumbnail>
      <h2 ion-text color="gold">{{ sponsor.name | uppercase }}</h2>
      <a *ngIf="sponsor.website" href="{{sponsor.website}}">{{sponsor.website}}</a>
    </ion-item>
  	<ion-list-header>
  		Media Partners
  	</ion-list-header>
    <ion-item *ngFor="let sponsor of media">
      <ion-thumbnail item-start>
        <img src="https://static.bcnation.com/pictures/{{sponsor.photo}}">
      </ion-thumbnail>
      <h2 ion-text color="gold">{{ sponsor.name | uppercase }}</h2>
      <a *ngIf="sponsor.website" href="{{sponsor.website}}">{{sponsor.website}}</a>
    </ion-item>
  </ion-list>
</ion-content>